@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #3e8f13;
  background: linear-gradient(to top left, #3e8f13 0%, #b1ff86 100%);
}

.bg-cabezon {
  background-image: url(../imagenes/Vincent_van_Gogh_-_Grass_and_butterflies.jpg);
  background-position: center, bottom;
  background-size: 100%;
  background-attachment: fixed;
  height: 55vh;
}

.bg-cabezon div a img {
  height: 40vh;
  border-radius: 50%;
  opacity: 95%;
}

.bg-cabezon ul li {
  display: inline-block;
  background-color: #3e8f138f;
  border: 1px outset #3e8f13;
  border-radius: 10%;
  padding: 0.5rem;
  margin: 0rem 0.2rem;
  transition: all 1.5s;
}

.bg-cabezon ul li a {
  text-decoration: none;
  color: #87ff47;
  font-size: 3rem;
  font-family: "Open Sans", sans-serif;
}

.bg-cabezon ul li:hover {
  background-color: #892be27f;
}

.bg-cabezon ul li ul li:hover {
  background-color: #892be27f;
}

footer {
  background-image: url(../imagenes/Vincent_van_Gogh_-_Grass_and_butterflies.jpg);
  background-position: center, bottom;
  background-size: 100%;
  background-attachment: fixed;
  color: #3e8f13;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  padding: 1rem;
}

footer div div a img {
  height: 17rem;
  border-radius: 50%;
}

footer .mapita {
  margin: 1rem 0rem;
}

footer .redesSociales {
  background-color: #87ff47;
  display: inline-block;
  margin: 2rem 0rem;
  padding: 1.5rem 1rem;
}

footer .redesSociales p {
  font-size: 2rem;
}

footer .redesSociales ul li {
  list-style: none;
}

footer .redesSociales ul li a img {
  width: 3rem;
}

footer .redesSociales ul li p {
  display: inline-block;
  font-size: 2rem;
}

.goUp {
  color: #b1ff86;
  background-color: #3e8f13;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 5rem 0rem;
}

.credit {
  color: #8F6B8f;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  transition: 1s;
}

.credit:hover {
  color: #09daff;
}

/*Index*/
h1 {
  color: #b1ff86;
  background: radial-gradient(circle, #3e8f13 0%, #b1ff86 100%);
  font-family: "Dancing Script", cursive;
  text-align: center;
}

h2 {
  color: #fffd91;
  text-align: center;
  font-family: "Dancing Script", cursive;
  margin: 4rem;
}

h3 {
  color: #fffd91;
  text-align: center;
  font-family: "Dancing Script", cursive;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

.section__postslider {
  background-image: url(/Imagenes/Vincent_van_Gogh_-_Grass_and_butterflies.jpg);
  background-position: center, bottom;
  background-size: 100%;
  background-attachment: fixed;
}

.section__postslider .section__postslider--presenacion {
  color: #b1ff86;
  background-color: #8F6B8f;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 2rem;
  line-height: 1.6;
  letter-spacing: 0.2rem;
}

/*Productos*/
.productos__titl {
  font-family: "Open Sans", sans-serif;
}

.productos__subtitl {
  font-family: "Open Sans", sans-serif;
  color: #fffd91;
  background-color: #8F6B8f;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 3rem 0rem;
}

.productos__descrip {
  color: #fffd91;
  background-color: #8F6B8f;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.productos__card {
  border: 0.1rem solid #b1ff86;
  background-color: #8F6B8f;
  background: linear-gradient(to top #6d5881 0%, #8F6B8f 100%);
}

.productos__card .productos__subtitl--card {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fffd91;
  background-color: #8F6B8f;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.productos__card .productos__descrip--card {
  color: #fffd91;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.productos__subtitl--medidas {
  text-align: center;
  color: #fffd91;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.accordion__titl {
  font-family: "Open Sans", sans-serif;
  color: #fffd91;
  background-color: #6d5881;
  background: linear-gradient(to left, #6d5881 0%, #8F6B8f 100%);
  border: 0.1rem solid #8F6B8f;
}

.accordion__titl button {
  font-family: "Open Sans", sans-serif;
  color: #fffd91;
  font-size: 1.5rem;
  font-weight: bold;
}

.accordion__table {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.productos__otros {
  color: #b1ff86;
  background-color: #8F6B8f;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  margin: 2rem 0rem;
}

.productos__contacto--style {
  text-decoration: none;
  color: #b1ff86;
}

.productos__card--plantas {
  border: 1px solid #b1ff86;
  background-color: #3E8F13;
  background: linear-gradient(to top, #3e8f13 0%, #87ff47 100%);
  margin-bottom: 2rem;
  padding: 2rem;
}

.productos__card--plantas .productos__subtitl--card {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #fffd91;
  background-color: #8F6B8f;
  text-align: left;
  font-size: 2rem;
  font-weight: bold;
}

.productos__card--plantas .productos__descrip--card {
  color: #fffd91;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}

.productos__card--plantas .card__boton {
  color: #fffd91;
  background-color: #8F6B8f;
  font-size: 1.3rem;
}

/*Galeria*/
.galeria__uno {
  margin-top: 0.5rem;
}

.galeria__uno div img {
  width: 100%;
  padding: 0.5rem 0rem;
}

.galeria__uno div p {
  color: #6d5881;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0rem;
  border-radius: 3%;
}

.galeria__dos {
  margin: 0.5rem 0rem;
}

.galeria__dos div img {
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem 0rem;
}

.galeria__dos div p {
  color: #6d5881;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.3rem;
  margin: 1.5rem 0rem;
  border-radius: 3%;
}

.galeria__fotos div img {
  width: 90%;
  transition: 0.5s;
}

.galeria__fotos img:hover {
  transform: scale(1.1);
}

/*Nosotros*/
.aboutUs__uno div img {
  width: 90%;
  margin: 2rem 2rem 2rem 0rem;
}

.aboutUs__img--round {
  width: 30vw;
  border-radius: 50%;
}

.aboutUs__dos img {
  width: 90%;
  margin: 2rem 0rem 2rem 2rem;
}

.aboutUs__descrip {
  color: #6d5881;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  text-align: left;
  margin: 1.5rem;
  padding: 2rem;
}

.aboutUs__descrip a {
  text-decoration: none;
  color: #fffd91;
}

/*Contacto*/
.contacto__titulos {
  font-family: "Open Sans", sans-serif;
}

.contacto__imagenes div img {
  width: 90%;
}

.consulta {
  color: #8F6B8f;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0rem;
  background-color: #fffd91;
}

.consulta p {
  text-align: center;
}

.consulta .formulario {
  margin: 1rem 0rem;
  padding: 3rem 0rem;
  width: 50%;
}

.consulta .formulario .formulario__nombre, .consulta .formulario .formulario__apellido, .consulta .formulario .formulario__mail, .consulta .formulario .formulario__mensaje {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
}

.consulta .formulario .formulario__check {
  display: flex;
  align-items: center;
}

.error div h1 {
  color: #6d5881;
}

.error div h2 {
  font-family: "Open Sans", sans-serif;
  color: #8F6B8f;
  text-align: left;
  margin: 0rem;
}

.error div div p {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  color: #8F6B8f;
}

.error div div a img {
  width: 100%;
}

@media only screen and (max-width: 990px) {
  .bg-cabezon {
    background-size: 100%;
  }
  .bg-cabezon .logopanambi {
    height: 18rem;
  }
  .bg-cabezon ul li a {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  .bg-cabezon {
    height: 60vh;
  }
  .bg-cabezon div a img {
    height: 30vh;
  }
}

@media only screen and (max-width: 600px) {
  .bg-cabezon {
    background-size: cover;
  }
  .bg-cabezon div a .logopanambi {
    height: 15rem;
  }
  .bg-cabezon ul li a {
    font-size: 2rem;
  }
  footer {
    background-size: cover;
    font-size: 1.3rem;
  }
  footer div div a .logopanambi {
    height: 13rem;
  }
}

@media only screen and (max-width: 480px) {
  .bg-cabezon {
    background-size: cover;
    height: 45vh;
  }
  .bg-cabezon div a .logopanambi {
    height: 10rem;
  }
  .bg-cabezon ul li a {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 3rem;
    margin: 1rem;
  }
  .section__postslider--presenacion {
    font-size: 1rem;
    line-height: 1.3;
  }
  footer {
    background-size: 200%;
    color: #3E8F13;
    font-size: 1rem;
  }
  footer .logopanambi {
    height: 10rem;
  }
  .redesSociales {
    background-color: #87ff47;
    display: inline-block;
    margin: 0.5rem;
  }
  .redesSociales img {
    width: 2rem;
  }
  .goUp {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0.3rem;
  }
  .credit {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */