/*Contacto*/

.contacto__titulos {
    font-family: $arial;
}

.contacto__imagenes div img {
        width: 90%;
    }

.consulta {
    color: $lila;
    font-family: $arial;
    font-size: 1.5rem;
    margin: 1rem 0rem;
    background-color: $amarillo;
    p {
        text-align: center;
    }
    .formulario {
        margin: 1rem 0rem;
        padding: 3rem 0rem;
        width: 50%;
        .formulario__nombre, .formulario__apellido, .formulario__mail, .formulario__mensaje {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 90%;
        }
        .formulario__check {
            display: flex;
            align-items: center;
        }
    }
}

