@media only screen and (max-width: 990px) {
    .bg-cabezon {
        background-size: 100%;
        .logopanambi {
            height: 18rem;
        }
        ul li a {
            font-size: 2.5rem;
        }
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }
    .bg-cabezon{
        height: $alto*6;
        div a img {
            height: $alto*3;
        }
    }

    
}

@media only screen and (max-width: 600px) {
    .bg-cabezon {
        background-size: cover;
        div a .logopanambi {
            height: 15rem;
        }
        ul li a {
            font-size: 2rem;
        }
    }

    footer {
        background-size: cover;
        font-size: 1.3rem;
    }

    footer div div a .logopanambi {
        height: 13rem;
    }
}
@media only screen and (max-width: 480px) {
    .bg-cabezon  {
        background-size: cover;
        height: 45vh;
        div a .logopanambi {
            height: 10rem;
        }
        ul li a {
            font-size: 1.3rem;
        }
    }

    h1 {
        font-size: 3rem;
        text-align: center;
    }

    h2 {
        font-size: 3rem;
        margin: 1rem;
    }

    .section__postslider--presenacion {
        font-size: 1rem;
        line-height: 1.3;
    }

    footer {
        background-size: 200%;
        color: #3E8F13;
        font-size: 1rem;
    }

    footer .logopanambi {
        height: 10rem;
    }

    .redesSociales {
        background-color: #87ff47;
        display: inline-block;
        margin: 0.5rem;
    }

    .redesSociales img {
        width: 2rem;
    }

    .goUp {
        font-size: 1.5rem;
        text-decoration: none;
        margin: 0.3rem
    }

    .credit {
        font-size: 1.3rem;

    }
}