$verdote: #3e8f13;
$verde: #87ff47;
$verdecito: #b1ff86;
$violeta: #6d5881;
$lila: #8F6B8f;
$amarillo: #fffd91;
$cyan: #09daff;
$cursiva: 'Dancing Script', cursive;
$arial: 'Open Sans', sans-serif;
$alto: 10vh;
$ancho: 10vw;