@import "fonts";
@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $verdote;
    background: linear-gradient(to top left, $verdote 0%, $verdecito 100%);
}

@import "general";
@import "index";
@import "productos";
@import "galeria";
@import "nosotros";
@import "contacto";
@import "404";
@import "mediaquerys";